@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background: beige;
    padding: 70px 0px;
    font-family: 'Montserrat', sans-serif;
}
.form-wrap{
    position: relative;
    box-shadow: rgba(221, 230, 237, 0.4) 0px 3px 10px 0px;
    background-color: white;
    height: 500px;
    width: 400px;
}
#regForm{
    padding: 60px 30px 30px 30px;
}
.form-heading{
    position: relative;
    width: 110%;
    height: 90px;
    left: -5%;
    top: 15px;
    padding: 20px 0px;
    text-align: center;
    color: white;
    background-color: #63f046;
   
}
.form-heading::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: -20px;
    width: 18px;
    height: 20px;
    background-color: #2e7a17;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.form-heading::after{
    position: absolute;
    content: '';
    right: 0;
    bottom: -20px;
    width: 18px;
    height: 20px;
    background-color: #2e7a17;
    clip-path: polygon(0 0, 0 100% , 100% 0);
}
.form-heading h1{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
}
.form-heading p{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
#regForm label{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 20px;

}
.form-control{
    border: none;
    padding: 0px;
    border-bottom: 2px solid #b5b5b5;
    border-radius: 0px;
}
.form-control:focus{
    box-shadow: none;
}
::placeholder{
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 500;
    color: #b5b5;
}
.btn{
    background: #54f534;
    border: none;
    margin: 20px 0px 0px 0px;
    width: 350px;
    top: 30px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
   
}
.btn:hover{
    background: rgb(218, 253, 194);
}
#p1, #p2, #p3{
    color: #ff0000;
    font-size: 13px;
    font-weight: 600;
}
p a {
    display: inline-block; 
    margin-top: 25px;    
    text-align: center;
    width: 100%;          
    color:#4a00e0;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
}

p a:hover {
    color:#08bddd;
    text-decoration: underline;
}