/* Motha page-ukkum common settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(230, 245, 207) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

/* Card design */
.container {
    background: white;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 380px; /* Fixed width kuduthutta velila pogaathu */
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.header h2 {
    color: rgb(12, 65, 163);
    text-align: center;
    margin-bottom: 15px;
    
}

/* Input box-galukkaana spacing */
.form-control {
    margin-bottom: 12px;
}

.form-control label {
    display: block;
    color: #020000;
    font-size: 13px;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%; /* Card kulla correct-ah fit aagum */
    padding: 13px;
    border-radius: 6px;
    border: 1px solid rgba(43, 112, 216, 0.3);
    background: rgba(255, 255, 255, 0.1);
    color: black;
    outline: none;
    
}

.form-control input:focus {
    border-color: #00ff6a;
}


.form-control small {
    display: block;
    height: 0;
    overflow: hidden;
    color: #ff4d4d;
    font-size: 11px;
}

button {
    width: 100%;
    padding: 12px;
    background: #e7ce7a;
    border: none;
    border-radius: 10px;
    color: #111;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3 ease;
}

button:hover {
    background: rgba(71, 102, 61, 0.5);
    
}

p {
    color: rgb(12, 12, 12);
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}

/* Link color - Blue */
p a {
    color: #0011ff;
    text-decoration: none;
    transition: all 0.3s ease; 
}

p a:hover {
    color: rgb(31, 231, 12); 
    text-decoration: underline;
}