/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling with static-compatible background */
body {
  font-family: 'Poppins', sans-serif;
  background-image: url("images/inbg1.jpg");
  background-size: cover;
 
  
  min-height: 100vh;
  display: flex;
  justify-content: center;   /* vertical center */
  align-items: center;       /* horizontal center */
}

/* Container */
.container {
  background: rgba(255, 255, 255, 0.1); 
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  text-align: center;
  max-width: 600px;
  max-height: 800px;
  height: 300px;
  animation: fadeIn 1.5s ease;
}

/* Fade-in animation */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Headings and text */
.container h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: 600;
  color: rgb(4, 58, 65);
}

.container p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  opacity: 0.9;
  color: rgb(3, 94, 81);
}

/* Buttons */
.buttons a {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  border-radius: 15px;
  background:linear-gradient(to top, #feada6 0%, #f5efef 100%);
  color: #151616;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.buttons a:hover {
  background: none;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
